<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.example.stalker.bnrtwocriminalintent">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/my_app_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        tools:replace="android:icon"
        android:theme="@style/AppTheme">
        <meta-data android:name="DATABASE" android:value="my_database.db" />
        <meta-data android:name="VERSION" android:value="1" />
        <meta-data android:name="QUERY_LOG" android:value="true" />
        <meta-data android:name="DOMAIN_PACKAGE_NAME" android:value="com.example.stalker.bnrtwocriminalintent" />


        <activity android:name=".CrimeActivityUnused">
        </activity>

        <activity android:name=".CrimePagerActivity">
        </activity>

        <activity android:name=".CrimeListActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>
            </intent-filter>
        </activity>

    </application>

</manifest>